<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MappingController</servlet-name>
        <servlet-class>cl.segurosporsiempre.Controller.MappingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>cl.segurosporsiempre.Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesionalController</servlet-name>
        <servlet-class>cl.segurosporsiempre.Controller.ProfesionalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>cl.segurosporsiempre.Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportarAccidenteController</servlet-name>
        <servlet-class>cl.segurosporsiempre.Controller.ReportarAccidenteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MappingController</servlet-name>
        <url-pattern>/baha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesionalController</servlet-name>
        <url-pattern>/pro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportarAccidenteController</servlet-name>
        <url-pattern>/accidente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>securedapp</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>    
    -->
</web-app>
